<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>WAK</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dangnhap</display-name>
    <servlet-name>dangnhap</servlet-name>
    <servlet-class>controllerU.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap</servlet-name>
    <url-pattern>/dangnhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangky</display-name>
    <servlet-name>dangky</servlet-name>
    <servlet-class>controllerU.dangky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangky</servlet-name>
    <url-pattern>/dangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themsukien</display-name>
    <servlet-name>themsukien</servlet-name>
    <servlet-class>controllerU.themsukien</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>dangxuat</display-name>
    <servlet-name>dangxuat</servlet-name>
    <servlet-class>controllerU.dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuat</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themthoikhoabieu</display-name>
    <servlet-name>themthoikhoabieu</servlet-name>
    <servlet-class>controllerU.themthoikhoabieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themthoikhoabieu</servlet-name>
    <url-pattern>/them-thoi-khoa-bieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suathoikhoabieu</display-name>
    <servlet-name>suathoikhoabieu</servlet-name>
    <servlet-class>controllerU.suathoikhoabieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suathoikhoabieu</servlet-name>
    <url-pattern>/sua-thoi-khoa-bieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datatkb</display-name>
    <servlet-name>datatkb</servlet-name>
    <servlet-class>controllerU.datatkb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datatkb</servlet-name>
    <url-pattern>/data-tkb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoalich</display-name>
    <servlet-name>xoalich</servlet-name>
    <servlet-class>controllerU.xoalich</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoalich</servlet-name>
    <url-pattern>/xoa-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datasukien</display-name>
    <servlet-name>datasukien</servlet-name>
    <servlet-class>controllerU.datasukien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datasukien</servlet-name>
    <url-pattern>/data-sukien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datatimeline</display-name>
    <servlet-name>datatimeline</servlet-name>
    <servlet-class>controllerU.datatimeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datatimeline</servlet-name>
    <url-pattern>/data-timeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>timelinedelete</display-name>
    <servlet-name>timelinedelete</servlet-name>
    <servlet-class>controllerU.timelinedelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timelinedelete</servlet-name>
    <url-pattern>/timeline-delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>timelinecomplete</display-name>
    <servlet-name>timelinecomplete</servlet-name>
    <servlet-class>controllerU.timelinecomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timelinecomplete</servlet-name>
    <url-pattern>/timeline-complete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edittimeline</display-name>
    <servlet-name>edittimeline</servlet-name>
    <servlet-class>controllerU.edittimeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edittimeline</servlet-name>
    <url-pattern>/edit-timeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtimeline</display-name>
    <servlet-name>addtimeline</servlet-name>
    <servlet-class>controllerU.addtimeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtimeline</servlet-name>
    <url-pattern>/add-timeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendnofication</display-name>
    <servlet-name>sendnofication</servlet-name>
    <servlet-class>controllerU.sendnofication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendnofication</servlet-name>
    <url-pattern>/send-nofication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editsukien</display-name>
    <servlet-name>editsukien</servlet-name>
    <servlet-class>controllerU.editsukien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editsukien</servlet-name>
    <url-pattern>/edit-sukien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dataeditsukien</display-name>
    <servlet-name>dataeditsukien</servlet-name>
    <servlet-class>controllerU.dataeditsukien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataeditsukien</servlet-name>
    <url-pattern>/dt-edit-sukien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletesukien</display-name>
    <servlet-name>deletesukien</servlet-name>
    <servlet-class>controllerU.deletesukien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletesukien</servlet-name>
    <url-pattern>/delete-sukien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendEmail</display-name>
    <servlet-name>sendEmail</servlet-name>
    <servlet-class>controllerU.sendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmail</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>databeforeevent</display-name>
    <servlet-name>databeforeevent</servlet-name>
    <servlet-class>controllerU.databeforeevent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>databeforeevent</servlet-name>
    <url-pattern>/dtb-bevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchsukien</display-name>
    <servlet-name>searchsukien</servlet-name>
    <servlet-class>controllerU.searchsukien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchsukien</servlet-name>
    <url-pattern>/search-sukien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adtbuser</display-name>
    <servlet-name>adtbuser</servlet-name>
    <servlet-class>controllerA.adtbuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adtbuser</servlet-name>
    <url-pattern>/a-dtb-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aedituser</display-name>
    <servlet-name>aedituser</servlet-name>
    <servlet-class>controllerA.aedituser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>adangxuat</display-name>
    <servlet-name>adangxuat</servlet-name>
    <servlet-class>controllerA.adangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adangxuat</servlet-name>
    <url-pattern>/a-dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aedituserz</display-name>
    <servlet-name>aedituserz</servlet-name>
    <servlet-class>controllerA.aedituser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aedituserz</servlet-name>
    <url-pattern>/a-edit-userz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adtbinfo</display-name>
    <servlet-name>adtbinfo</servlet-name>
    <servlet-class>controllerA.adtbinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adtbinfo</servlet-name>
    <url-pattern>/a-dtb-info</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>controllerU.myListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>sendmailresetpsw</display-name>
    <servlet-name>sendmailresetpsw</servlet-name>
    <servlet-class>controllerU.sendmailresetpsw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendmailresetpsw</servlet-name>
    <url-pattern>/sendmailresetpsw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkresetpass</display-name>
    <servlet-name>checkresetpass</servlet-name>
    <servlet-class>controllerU.checkresetpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkresetpass</servlet-name>
    <url-pattern>/checkresetpass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datacalendar</display-name>
    <servlet-name>datacalendar</servlet-name>
    <servlet-class>controllerU.datacalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datacalendar</servlet-name>
    <url-pattern>/data-calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcalendar</display-name>
    <servlet-name>addcalendar</servlet-name>
    <servlet-class>controllerU.addcalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcalendar</servlet-name>
    <url-pattern>/add-calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcalendar</display-name>
    <servlet-name>viewcalendar</servlet-name>
    <servlet-class>controllerU.viewcalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcalendar</servlet-name>
    <url-pattern>/view-calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatecalendar</display-name>
    <servlet-name>updatecalendar</servlet-name>
    <servlet-class>controllerU.updatecalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatecalendar</servlet-name>
    <url-pattern>/update-calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecalendar</display-name>
    <servlet-name>deletecalendar</servlet-name>
    <servlet-class>controllerU.deletecalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecalendar</servlet-name>
    <url-pattern>/delete-calendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datatimelinecmp</display-name>
    <servlet-name>datatimelinecmp</servlet-name>
    <servlet-class>controllerU.datatimelinecmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datatimelinecmp</servlet-name>
    <url-pattern>/data-timeline-cmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adeleteuser</display-name>
    <servlet-name>adeleteuser</servlet-name>
    <servlet-class>controllerA.adeleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adeleteuser</servlet-name>
    <url-pattern>/a-delete-user</url-pattern>
  </servlet-mapping>
</web-app>